body {
    background-color: rgb(15, 85, 1)
}

.card-container {
    cursor: pointer;
    height: 400px;
    width: 400px;
    perspective: 800px;
    position: relative;
    margin-top: 10%;
    margin: auto;
}

.card {
    /* margin-top: 10%; */
    height: 400px;
    width: 400px;
    position: absolute;
    /* border: 5px solid #E6E6E6; */
    padding: 5px;
    border-radius: 16px;
}


.card .front {
    height: 400px;
    width: 400px;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: #E6E6E6;
    border: 2px solid black;
    border-radius: 9px;
}


.eng {
    color: #333;
    font-size: 2.3em;
    padding-top: 40%;
}

